*.o
*.obj
*.exe
*.DS_Store
*.log
*.user
*~
.vs/
Debug/
Release/
Build/
/doomgeneric/doomgeneric
/doomgeneric/doomgeneric.map

# git-doom
doomgeneric/build-git/
doomgeneric/git-doom-play
game-data/
.savegame/
*.wad
